<!DOCTYPE html>
<html lang="tr" xmlns = "http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleaf.org"
   xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>

</style>
<body>
<div id="map"></div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>

$(document).ready(function() {
    
});

asdf

</script>

<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvXKt6ojszbDssq3Y90nhWFAWJ7Zw31bw&callback=initMap" async defer></script>
</body>
</html>